@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700;800;900&family=Crimson+Pro:wght@200;300;400;500;600;700;800;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');
/*
font-family: 'Alegreya', serif;
font-family: 'Crimson Pro', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/
:root{
    --background: #121212;
    --text: rgb(246, 246, 246);
    --layer: #2b2c30;
    --gray: #8b8c8e;
    --error: #cf6679;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    opacity: 0;
    display: flex;
    background-color: var(--background);
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 300vh;
    width: 100vw;
    color: var(--text);
    font-family: 'Montserrat', sans-serif;
    padding: 0px 9rem;
    position: relative;
    font-weight: 400;
    transition: 0.1s ease;
}
h1{
    font-size: 2.986rem;
    pointer-events: none;
    font-weight: 600;
}
h2{
    font-size: 2.488rem;
    pointer-events: none;
}
h3{
    font-size: 2.074rem;
    pointer-events: none;
    font-weight: 400;
}
h4{
    font-size: 1.728rem;
    pointer-events: none;
    color: var(--gray);
    font-weight: 400;
}
h5{
    font-weight: 400;
    font-size: 1.44rem;
    pointer-events: none;
}
h6{
    font-size: 1.2rem;
    pointer-events: none;
}
p{
    font-size: 1rem;
    pointer-events: none;
}
small{
    font-size: 0.833rem;
    pointer-events: none;
}
.line{
    height: 3px;
    width: 100%;
    border-radius: 1px;
    background-color: var(--layer);
}